body {
    background-color: white;
}

.sidebar {
    background-color:rgb(63, 62, 62);
    height: 100vh;
    width: 23vh;
}

.navbar {
    background-color:rgb(50,50,50);
}

.content {
    padding: 10px;
}

.sidebar .nav-link {
    color: #f3edeb;
    font-size: large;
    margin-top: 1vh;
}

.button{
    margin-top: 2vh;
}

.input{
    margin-top: 2vh;
}

.input-with{
    width: 100% 
}

.scroll-container {
    margin-top: 2vh;
    height: 70vh; 
    overflow-y: scroll;
}

.button-container {
    margin-left: 1px; 
}

.action-buttons button {
    margin-right:6px;
}

.button-center{
    text-align: center;
}

.imagem-center{
    text-align: center;
    margin-top: 15vh;
}
